body{
  background-image:url(galaxy3.jpg)
}
.virsraksts {
  text-align: center;
  font-size: 150%;
  -webkit-text-fill-color: rgb(0, 0, 0);
}
h2{
  -webkit-text-fill-color: red;
}
h3{
  -webkit-text-fill-color: yellow;
}
h4{
  -webkit-text-fill-color: yellow;
  font-size: 125%;
}

.virsraksts + .zemvirsraksta {
  text-align: center;
    -webkit-text-fill-color: red;
    font-size: 180%;
}
.zemvirsraksta{
  font-size: 175%;
  padding: 0px ;
  margin: 0px 650px;
}
.zemvirsraksta1{
  font-size: 150%;
  padding: 0px ;
  margin: 0px 0px;
}
.apraksts{
  -webkit-text-fill-color: rgb(0, 0, 255);
  margin: -900px 1px;
font-size: 200%;
padding: 90px 10px;

}
.zemvirsraksta + .image {
  margin-top: 20px;
}


.image img {
  border: 4px solid blueviolet;
}
.image {
  float: left;
  margin-right: 20px;
}
.image + .zemvirsraksta1 {
  margin-top: 20px;
  -webkit-text-fill-color: rgb(255, 0, 0);
  font-size: 200%;
}
.zemvirsraksta1 + .apraksts {
  margin-top: 200px;
}
.apraksts {
  float: left;
}


